/*
Making h6 headers bold
Used in Rating and Keyword components
 */
h6 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#componentTotal, #componentKeyword {
  margin-left: 20px;
}

#componentLoadMore {
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #dddddd;
  border: 1px solid black;
}

#buttonLoadMore {
  height: 50px;
  width: 100%;
  display: block;
}

#componentReviewList {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 450px;
  overflow: auto;
}

#headerReviewList {
  font-weight: bold;
  text-align: center;
  background: #dddddd;
  border: 1px solid black;
  padding: 10px;
}

#h1-animation {
  text-align: center;
  font-weight: bold;
}

.Loader-indicator.fade-enter,
.Loader-content.fade-enter {
  opacity: 0;
}

.Loader-indicator.fade-enter-active,
.Loader-content.fade-enter-active {
  opacity: 1;
}

.Loader-indicator.fade-leave,
.Loader-content.fade-leave {
  opacity: 1;
}

.Loader-indicator.fade-leave-active,
.Loader-content.fade-leave-active {
  opacity: 0;
}

.Loader-content,
.Loader-indicator {
  transition: opacity 1s;
}

.Loader-ellipsisDot {
  padding: 0 3px 0 1px;
  opacity: 0;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes Loader-ellipsisDot1 {
  0%   { opacity: 0; }
  25%  { opacity: 0; }
  35%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes Loader-ellipsisDot2 {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  60%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes Loader-ellipsisDot3 {
  0%   { opacity: 0; }
  75%  { opacity: 0; }
  85%  { opacity: 1; }
  100% { opacity: 1; }
}

.Loader-ellipsisDot:nth-child(1) {
  animation-name: Loader-ellipsisDot1;
}

.Loader-ellipsisDot:nth-child(2) {
  animation-name: Loader-ellipsisDot2;
}

.Loader-ellipsisDot:nth-child(3) {
  animation-name: Loader-ellipsisDot3;
}
